* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: green;
}

h1 {
    text-align: center;
    top: 30px;
    position: relative;
    font-size: 50px;
}
